html {
    font-family: 'Roboto', sans-serif;
    
}

h1 {
    color: red;
}

p, li {
    color: green;
    
}

li { /*quita la viñeta a las listas desordenadas*/
    list-style-type: none;
}

div {
    background-image: url("foto.jpg");
    background-repeat: no-repeat;
}